.PostList {
  & > li {
    transition: background-color, 0.1s;
    user-select: none;

    &:hover {
      background-color: #e8b92c;
      box-shadow: 0 24px 60px -9px rgb(0 0 0 / 20%);
    }

    &.is-active {
      background-color: #e6e6e6;

      &:hover {
        background-color: #ebebeb;
        box-shadow: none;
        cursor: default;

        span {
          border-left-color: white;
        }
      }

      span {
        border-left-color: white;
      }
    }
  }

  a {
    border-radius: 2px;
    box-shadow: none;
    align-items: center;
    display: flex;
    color: #111;
    transition: all 0.1s;

    &:hover,
    &:active {
      span {
        border-left-color: white;
      }
    }

    time {
      color: #222;
    }
  }

  time,
  span {
    padding: 13px 11px;
    transition: all 200ms;
  }

  span {
    border-left: 1px solid #e6e6e6;
    display: block;
    font-family: var(--font-heading);
    font-weight: 600;
    font-size: 13px;
    line-height: 1.3;
    width: 100%;
  }

  time {
    color: #888;
    display: block;
    font-style: italic;
    font-size: 12.5px;
    font-family: var(--font-heading);
    font-weight: 500;
    line-height: 1.3;
    min-width: 150px;
  }

  @media (min-width: theme(--breakpoint-xl)) {
    time,
    span {
      padding: 18px 15px;
    }

    span {
      font-size: 14px;
    }

    time {
      font-size: 14px;
    }
  }
}
