.root {
  display: flex;
  justify-content: space-between;
  min-height: var(--nav-height-mobile);
  position: relative;
  transition: all 300ms;
  width: 100%;
  z-index: 100;
}

.background {
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.BackgroundImage {
  background-size: cover;
  background-position: center;
  background-image: url('../../../images/mobile-header.jpg');
  background-repeat: no-repeat;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
