.root {
  display: flex;
  justify-content: space-between;
  min-height: var(--nav-height-mobile);
  position: relative;
  transition: all 300ms;
  width: 100%;
  z-index: 100;

  @media screen(xl) {
    min-height: var(--nav-height);
  }
}

.background {
  background-color: theme('colors.nav-bg');
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.BackgroundImage {
  background-size: cover;
  background-position: center;
  background-image: url('../../../images/mobile-header.jpg');
  background-repeat: no-repeat;
  height: theme('height.site-header-height');
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media screen(sm) {
  .BackgroundImage {
    background-size: cover;
    background-image: url('./background-1+c.jpg');
    background-position: 90% 10%;
  }
}

@media screen(lg) {
  .BackgroundImage {
    background-position: 90% 0px;
  }
}

@media (min-width: 900px) {
  .BackgroundImage {
    background-position: 90% 10%;
  }
}

@media (min-width: 1000px) {
  .BackgroundImage {
    background-position: 90% 35%;
  }
}

@media (min-width: 1200px) {
  .BackgroundImage {
    background-position: 85% -200px;
  }
}

@media (min-width: 1400px) {
  .BackgroundImage {
    background-position: 85% -220px;
  }
}

@media (min-width: 1750px) {
  .BackgroundImage {
    background-position: 85% -18vw;
  }
}

@media (min-width: 2200px) {
  .BackgroundImage {
    background-position: 85% -22vw;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  width: 100%;
}