html {
  font-family: theme('fontFamily.body');
  font-size: 100%;
  line-height: 1.6;
  width: 100%;
}

html {
  --nav-height: 500px;
  --nav-height-mobile: 550px;
  --nav-link-color--active: rgba(black, 0.7);
  --nav-link-border-width: 0;
  --sidebar-width: 300px;
  --site-header-height: 550px;
}

@media screen(lg) {
  html {
    --site-header-height: 500px;
  }
}

@media screen(4xl) {
  html {
    --site-header-height: 650px;
  }
}

body {
  background-color: white;
  color: theme('colors.body');
  font-family: theme('fontFamily.body');
  margin: 0;
  min-height: 100vh;
  padding: 0;
  text-rendering: geometricPrecision;
  width: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #6196cc;
}
