.md > :not(pre) code {
  background-color: #eae8e1;
  border-radius: 3px;
  font-size: 13px;
  padding: 4px 5px;
  color: #48432d;
  color: #211b02;
}

.md {
  background-color: #faf9fa;
  background-color: #f3f1f3;
  background-color: hsl(300deg 8% 97%);
  color: #333;
  font-family: 'averta';
  font-size: 16px;
  line-height: 1.9;

  @media screen(xl) {
    font-size: 17.5px;
  }

  & > * {
    margin-left: auto;
    margin-right: auto;
    max-width: theme('maxWidth.post');
  }

  > .md-fullWidth {
    margin-left: 0;
    margin-right: 0;
    max-width: auto;
  }

  > img {
    width: calc(100% - (theme('spacing.gutter') * 2));
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > blockquote,
  > figure,
  > ul,
  > ol,
  > li,
  > p,
  > pre,
  > div,
  > dl,
  > table {
    padding-left: theme('spacing.gutter');
    padding-right: theme('spacing.gutter');
  }

  & > pre > code {
    padding-left: 0;
    padding-right: 0;
  }

  & > pre {
    position: relative;

    &:before {
      /* background-color: rgba(255,255,255,0.1); */
      text-align: center;
      color: #f1f1f1;
      font-size: 11px;
      font-weight: 500;
      padding-right: 8px;
      padding-bottom: 8px;
      content: attr(data-lang);
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  & > pre {
    border-radius: 3px;
    background-color: #ebebeb;
    /* box-shadow: 0 2px 10px -1px inset rgba(0, 0, 0, 0.1); */
    font-size: 13px;
    line-height: 1.8;
    padding-top: theme('spacing.8');
    padding-bottom: theme('spacing.8');
    margin-left: theme('spacing.gutter');
    margin-right: 0;
    position: relative;

    > code > * {
      position: relative;

      &:before {
        content: attr(line);
        display: inline-block;
        height: 100%;
        left: 0;
        width: 36px;
        padding-right: 20px;
        text-align: right;
        top: 0;
      }
    }

    @media screen(lg) {
      font-size: 13.5px;
      margin-left: auto;
      margin-right: auto;

      > code {
        > * {
          padding-left: 1s5px;
          padding-right: 16px;
        }
      }
    }
  }

  > div,
  > img,
  > blockquote,
  > figure,
  > ul,
  > ol,
  > li,
  > p,
  > dl,
  > table {
    /* font-size: 16.5px; */
    /* line-height: 1.65; */
  }
  /* 

  /* > ol */
  /* +make-list-number */

  /* > ul */
  /* +make-list-bullet */

  > figure,
  > ul,
  > ol,
  > li,
  > p,
  > dl,
  > div,
  > table,
  > pre,
  .md-spacer {
    margin-bottom: theme('spacing.12');
  }

  > blockquote {
    background-color: #efe9e9;
    color: rgba(#1b292b, 0.8);
    font-size: 15.5px;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: theme('spacing.10');
    padding: 22px 26px;
    position: relative;
  }

  > .md-fullWidth {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  > :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.md-codeBlock[data-lang='info'] {
  background-color: #fff0bf;
  background-color: #f7f5f0;
  background-color: hsla(43, 9%, 95%, 1);
  border-radius: 5px;
  padding: 14px 14px !important;
}

.md-gutter {
  padding-left: theme('spacing.gutter');
  padding-right: theme('spacing.gutter');
}

.md > table,
.md-table {
  width: 100%;
  text-align: left;
}

.md > h2,
.md-h2,
.md > h3,
.md-h3,
.md-h4,
.md > h4,
.md-h5,
.md > h5,
.md-h6,
.md > h6 {
  font-family: theme('fontFamily.body');
  position: relative;

  &:hover {
    .md-headingAnchor {
      opacity: 1;
    }
  }
}

.md-headingAnchor {
  display: block;
  left: -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 300ms;

  svg {
    fill: $app-color-link;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    width: 20px;
  }
}

.md > h3,
.md-h3 {
  /* color: #ea1093; */
  /* color: #a05883; */
  /* color: #cd3e8c; */
  /* color: #9d0055; */
  /* color: #eb007f; */
  position: relative;
  z-index: 1;

  /* &:before {
    background-color: #ffe083;
    border-radius: 3px;
    content: '';
    height: 120%;
    position: absolute;
    left: calc(50% + -30px);
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: -1;
  } */

  font-family: theme('fontFamily.heading');
  font-weight: 900;
  font-size: 36px;
  letter-spacing: -0.4px;
  line-height: 1.2;
  margin-top: theme('spacing.20');
  margin-bottom: theme('spacing.6');
  max-width: 100%;
  position: relative;
  z-index: 1;

  a {
    display: inline-block;
    background-image: url('../images/icons/link.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px;
    background-color: #dedede;
    border-radius: 6px;
    content: '';
    height: 50px;
    left: -30px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transition: opacity 100ms;
    transform: translate(0, -50%);
    z-index: -1;
    width: 35px;
  }

  &:hover a {
    opacity: 1;
  }

  &:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 100%;
    left: 0;
    top: 50%;
    height: 40px;
    z-index: -1;
  }

  @media screen(lg) {
    /* background-color: black; */
    /* background:linear-gradient(to left, #cd3e8c, #d9d9d9); */
    /* background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* background-color: #d9d9d9; */
    font-size: 50px;
    font-weight: 900;
    letter-spacing: -0.45px;
    line-height: 1;
    max-width: theme('maxWidth.postWide') !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: theme('spacing.20');
    margin-bottom: theme('spacing.8');
  }
}

.md-h4,
.md > h4 {
  font-family: theme('fontFamily.heading');
  font-weight: 900 !important;
  font-size: 23px;
  font-weight: 800;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: theme('spacing.10');
  margin-bottom: theme('spacing.5');

  @media screen(lg) {
    max-width: calc(theme('maxWidth.postWide') - 50px);
  }
}

.md-h5,
.md > h5 {
  font-family: theme('fontFamily.heading');
  font-weight: 900 !important;
  font-size: 16px;
  font-weight: 500;
  font-weight: 600;
  letter-spacing: 0;
  margin-top: theme('spacing.4');
  margin-bottom: theme('spacing.6');
}

.md-figure {
  margin-bottom: theme('spacing.6');
  margin-top: theme('spacing.6');
}

/* .md-listNumber */
/* +make-list-number */

/* .md-listBullet */
/* +make-list-bullet */

@media screen(xl) {
  .md {
    > blockquote {
      > * {
      }
    }
  }

  .md-figure {
    margin-bottom: theme('spacing.6');
    margin-top: theme('spacing.6');
  }
}

.list-bullet {
  line-height: 1.5;
  list-style-type: none;
  padding-bottom: 20px;

  & > li {
    margin-bottom: 6px;
    margin-left: 28px;
    padding-left: 10px;
    position: relative;

    &:before {
      content: '';
      border-radius: 50%;
      background-color: theme('colors.link');
      height: 0.4em;
      left: -16px;
      position: absolute;
      top: 0.6em;
      width: 0.4em;
    }
  }

  @media screen(xl) {
    & > li {
      margin-bottom: 8px;
      margin-left: 38px;
      padding-left: 14px;
    }
  }
}

.list-number {
  line-height: 1.5;
  list-style-type: decimal;
  padding-bottom: 20px;

  & > li {
    margin-bottom: 6px;
    margin-left: 28px;
    padding-left: 10px;
  }

  @media screen(xl) {
    & > li {
      margin-bottom: 8px;
      margin-left: 38px;
      padding-left: 14px;
    }
  }
}
