@theme {
  --nav-height: 500px;
  --nav-height-mobile: 550px;
  --nav-link-color--active: rgba(0, 0, 0, 0.7);
  --nav-link-border-width: 0;
  --sidebar-width: 300px;
  --site-header-height: 550px;

  /* Colors */
  --color-transparent: rgba(0, 0, 0, 0);
  --color-overlay-bg: #2b292b;
  --color-body: #333;
  --color-link: rgb(97 150 204);
  /* --color-link: #25cead; */

  --color-primary-invert: #1746d3;

  --color-seafoam-100: #e4efeb;
  --color-seafoam-300: #1beaa4;
  --color-seafoam-500: #14e595;

  --color-primary-100: #fdf7d4;
  --color-primary-200: #fceeaa;
  --color-primary-300: #f8e07f;
  --color-primary-400: #f1d05e;
  --color-primary-500: #e8b92c;
  --color-primary-600: #c79920;
  --color-primary-700: #a77b16;
  --color-primary-800: #865f0e;
  --color-primary-900: #6f4a08;

  --font-backup: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif;
  --font-display: 'rift-soft', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif;
  --font-link: 'Rift Soft', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif, ;
  --font-heading: 'visby', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif;
  --font-body: 'DM Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Helvetica, Arial, sans-serif;
  --font-code: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', monospace;

  /* Max widths */
  --max-width-post: 720px;
  --max-width-post-wide: 820px;
  --max-width-site: 2100px;
  /* --max-width-site: 1728px; */
  --max-width-common: 1232px;

  /* Breakpoints (for reference in media queries) */
  --breakpoint-sm: 360px;
  --breakpoint-md: 540px;
  --breakpoint-lg: 720px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1200px;
  --breakpoint-3xl: 1400px;
  --breakpoint-4xl: 1600px;
  --breakpoint-5xl: 2000px;
  --breakpoint-macbook16: 1600px;

  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  --spacing-gutter: 20px;
  --spacing-gutter-lg: 24px;
  --spacing-gutter-xl: 32px;
  /* --spacing-nav-height: 60px; */
  --spacing-nav-icon-width: 54px;
  --spacing-py-nav-link: 16px;
  /* --spacing-px-nav-link: 48px; */

  /* --drop-shadow-button: drop-shadow(3px 4px 7px rgba(0,0,0,.2)); */
  --shadow-box: 0 20px 30px -9px rgb(0 0 0/20%);

  --shadow-button: 0 24px 60px -9px rgb(0 0 0/20%);
  --shadow-button-none: 0 24px 60px -9px rgb(0 0 0/0%);
}

@utility copy-heading-2 {
  font-family: theme(--font-heading);
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -0.9px;
  line-height: 45px;
}

@utility copy-heading-2-sm {
  font-family: theme(--font-heading);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -0.9px;
  line-height: 36px;
}

@utility copy-body-4 {
  font-size: 18px;
  font-family: theme(--font-body);
  font-weight: 500;
  line-height: 32px;
  letter-spacing: -0.9px;
}

@utility copy-body-4-sm {
  font-size: 15px;
  font-family: theme(--font-body);
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.9px;
}

@utility striped {
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    rgba(0, 0, 0, 0.06) 10px,
    rgba(0, 0, 0, 0.06) 20px
  );
}
