@theme {
  --nav-height: 500px;
  --nav-height-mobile: 550px;
  --nav-link-color--active: rgba(0, 0, 0, 0.7);
  --nav-link-border-width: 0;
  --sidebar-width: 300px;
  --site-header-height: 550px;

  /* Colors */
  --color-transparent: rgba(0,0,0, 0);
  --color-overlay-bg: #2b292b;
  --color-body: #333;
  --color-link: #25cead;

  --color-seafoam-100: #e4efeb;
  --color-seafoam-300: #1beaa4;
  --color-seafoam-500: #14e595;

  --color-primary-100: #FDF7D4;
  --color-primary-200: #FCEEAA;
  --color-primary-300: #F8E07F;
  --color-primary-400: #F1D05E;
  --color-primary-500: #e8b92c;
  --color-primary-600: #C79920;
  --color-primary-700: #A77B16;
  --color-primary-800: #865F0E;
  --color-primary-900: #6F4A08;

  --font-backup: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-display: 'rift-soft',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-link: 'rift-soft',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-heading: 'visby',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-body: 'DM Sans',  -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-code: 'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', monospace;

  /* Max widths */
  --max-width-post: 720px;
  --max-width-post-wide: 820px;
  --max-width-site: 1440px;
  --max-width-common: 1232px;

  /* Breakpoints (for reference in media queries) */
  --breakpoint-sm: 360px;
  --breakpoint-md: 540px;
  --breakpoint-lg: 720px;
  --breakpoint-xl: 1024px;
  --breakpoint-2xl: 1200px;
  --breakpoint-3xl: 1400px;
  --breakpoint-4xl: 1600px;
  --breakpoint-5xl: 2000px;
  --breakpoint-macbook16: 1600px;

  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;

  --spacing-gutter: 20px;
  --spacing-gutter-lg: 24px;
  --spacing-gutter-xl: 32px;
  /* --spacing-nav-height: 60px; */
  --spacing-nav-icon-width: 54px;
  --spacing-py-nav-link: 16px;
  /* --spacing-px-nav-link: 48px; */

}
